[alias]
  co = checkout
  ci = commit --verbose
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  sdc = svn dcommit
  sf = svn fetch
  srb = svn rebase

[user]
	name = Iago Corbal
	email = Iago.Corbal@cambio.se
[merge]
    tool = vimdiff

[color]
    branch = auto
    diff = auto
    status = auto

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[pretty]
    compact = format:%Cblue%h%Creset %cr %C(bold black)%an%Cgreen%d%Creset %s


[push]
    default = upstream

[branch "master"]
	remote = origin
    merge = refs/heads/master

[core]
    excludesfile = ~/projects/.gitignore
